:root {
  --background: #FFBE0B;
  --foreground: #333333;
  --font-kaushan-script: 'Kaushan Script', cursive;
  --font-smooch-sans: 'Smooch Sans', sans-serif;
  --super-crunch-yellow: #FFBE0B;
  --super-crunch-red: #D62828;
  --super-crunch-blue: #1D6A96;
  --super-crunch-orange: #F77F00;
  --super-crunch-border: #8B4513;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--foreground);
  background-color: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
